<div class="bd-intro ps-lg-4">
  <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
    <a class="btn btn-sm btn-bd-light mb-2 mb-md-0" href="https://getbootstrap.com/docs/5.1/components/alerts/" target="_blank">View Bootstrap doc</a>
    <h1 class="bd-title" id="content">Alerts</h1>
  </div>
</div>

<div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
  <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
  <nav id="TableOfContents">
    <ul>
      <li>
        <a href="#examples">Examples</a>
        <ul>
          <li><a href="#overview">Overview</a></li>
          <li><a href="#soft-colors">Soft colors</a></li>
          <li><a href="#soft-colors-borderless">Soft colors (borderless)</a></li>
          <li><a href="#soft-colors-backgroundless">Soft colors (backgroundless)</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div class="bd-content ps-lg-4">
  <h2 id="examples">Examples</h2>

  <h3 id="overview">Overview</h3>

<% code = ['alert-primary', 'alert-soft-primary', 'alert-soft-primary border-transparent', 'alert-soft-primary bg-transparent'].map.with_index do |type, idx|
%{<div class="alert #{ type }" role="alert">
  <strong>Alert!</strong> <span class='ms-2 font-monospace'>#{ type.split(' ').map { |t| ".#{ t }" }.join(' ') }</span>
</div>
}
end.join("\n") %>
  <%= render partial: 'partials/example', locals: { id: 'overview', code: code } %>

  <hr class="h3-separator"> <!-- ------------------------------------------- -->

  <h3 id="soft-colors">Soft colors</h3>

<% code = theme_colors.map do |color|
%{<div class="alert alert-soft-#{ color }" role="alert">
  <strong>#{ color.capitalize }!</strong> This is a soft-#{ color } alert —check it out!
</div>
}
end.join("\n") %>
  <%= render partial: 'partials/example', locals: { id: 'soft-colors', code: code } %>

  <hr class="h3-separator"> <!-- ------------------------------------------- -->

  <h3 id="soft-colors-borderless">Soft colors (borderless)</h3>

<% code = theme_colors.map do |color|
%{<div class="alert alert-soft-#{ color } border-0" role="alert">
  <strong>#{ color.capitalize }!</strong> This is a soft-#{ color } alert —check it out!
</div>
}
end.join("\n") %>
  <%= render partial: 'partials/example', locals: { id: 'soft-colors', code: code } %>

  <hr class="h3-separator"> <!-- ------------------------------------------- -->

  <h3 id="soft-colors-backgroundless">Soft colors (backgroundless)</h3>

<% code = theme_colors.map do |color|
%{<div class="alert alert-soft-#{ color } bg-transparent" role="alert">
  <strong>#{ color.capitalize }!</strong> This is a soft-#{ color } alert —check it out!
</div>
}
end.join("\n") %>
  <%= render partial: 'partials/example', locals: { id: 'soft-colors-backgroundless', code: code } %>

</div>
