<div class="bd-intro ps-lg-4">
  <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
    <a class="btn btn-sm btn-bd-light mb-2 mb-md-0" href="https://getbootstrap.com/docs/5.1/components/badge/" target="_blank">View Bootstrap doc</a>
    <h1 class="bd-title" id="content">Badges</h1>
  </div>
</div>

<div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
  <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
  <nav id="TableOfContents">
    <ul>
      <li>
        <a href="#examples">Examples</a>
        <ul>
          <li><a href="#outline">Outline</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div class="bd-content ps-lg-4">

  <h2 id="examples">Examples</h2>

  <h3 id="outline">Outline badges</h3>

<% code = theme_colors.map do |color|
%{<span class="badge badge-outline-#{ color } text-cap rounded-pill">
  #{ color }
</span>
}
end.join("\n") %>

  <div class="bd-example">
    <%= raw code %>
  </div>

  <div class="highlight">
    <pre tabindex="0"><code class="language-html m-0 p-0" data-lang="html" style='background: transparent;'><%= h code %></code></pre>
  </div>
</div>
