<div class="bd-intro ps-lg-4">
  <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
    <a class="btn btn-sm btn-bd-light mb-2 mb-md-0" href="https://getbootstrap.com/docs/5.1/components/buttons/" target="_blank">View Bootstrap doc</a>
    <h1 class="bd-title" id="content">Buttons</h1>
  </div>
</div>

<div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
  <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
  <nav id="TableOfContents">
    <ul>
      <li>
        <a href="#examples">Examples</a>
        <ul>
          <li><a href="#overview">Overview</a></li>
          <li><a href="#soft">Soft buttons</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div class="bd-content ps-lg-4">

  <h2 id="examples">Examples</h2>

  <h3 id="overview">Overview</h3>

<% code = ['btn-primary', 'btn-outline-primary', 'btn-soft-primary', 'btn-soft-primary border-transparent', 'btn-ghost-primary', 'btn-link link-primary'].map.with_index do |type, idx|
%{<div class='#{ idx > 0 ? 'mt-3' : '' }'>
  <button type='button' class="btn #{ type }">Example button</button>
  <span class='ms-2 font-monospace'>#{ type.split(' ').map { |t| ".#{ t }" }.join(' ') }</span>
</div>
}
end.join("\n") %>
  <%= render partial: 'partials/example', locals: { id: 'overview', code: code } %>

  <hr class="h3-separator"> <!-- ------------------------------------------- -->

  <h3 id="soft">Soft buttons</h3>

  <p>Note: unlike <a href="docs/alerts">alerts</a> or <a href="docs/alerts">badges</a> where the <code>outline</code> effect ban be achieved with <code>.soft-* .border-transparent</code> classes, <code>.btn-outline</code> is it's own class since the active (hover) behaviour is different. <code>.btn-outline-*</code> classes are default Bootstrap anyway.</p>

<% code = ['', 'border-transparent'].map.with_index do |type, idx|
  ["<div class=\"#{ (idx > 0) ? 'mt-3' : '' }\">",
  theme_colors.map do |color|
%{<button type='button' class="btn btn-soft-#{ color } #{ type } me-2">
  #{ color.capitalize }
</button>
}
  end.join("\n"),
  '</div>'].join("\n")
end.join("\n") %>
  <%= render partial: 'partials/example', locals: { id: 'soft', code: code } %>

</div>
