<div class="bd-intro ps-lg-4">
  <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
    <a class="btn btn-sm btn-bd-light mb-2 mb-md-0" href="https://select2.org" target="_blank">View doc</a>
    <h1 class="bd-title" id="content">Select2</h1>
  </div>
</div>

<div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
  <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
  <nav id="TableOfContents">
    <ul>
      <li>
        <a href="#examples">Examples</a>
        <ul>
          <li><a href="#overview">Overview</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div class="bd-content ps-lg-4">
  <h2 id="examples">Examples</h2>

  <h3 id="overview">Overview</h3>

  <% code = render partial: 'docs/select2/example_simple' %>
  <%= render partial: 'partials/example', locals: { id: 'overview', code: code } %>

  <hr class="h3-separator"> <!-- ------------------------------------------- -->

</div>