ruby:
  types = [
    { css: 'btn-link link-primary', classic: true },
    { css: 'btn-primary', classic: true },
    { css: 'btn-outline-primary', classic: true },
    { css: 'btn-soft-primary' },
    { css: 'btn-soft-primary border-transparent' },
    { css: 'btn-ghost-primary' },
    { css: 'btn-pill btn-primary' },
    { css: 'btn-pill btn-outline-primary' },
    { css: 'btn-pill btn-soft-primary' },
    { css: 'btn-pill btn-soft-primary border-transparent' },
    { css: 'btn-pill btn-ghost-primary' },
  ]

- types.each.with_index do |type, idx|
  .example-line class=(type[:classic] ? 'classic-bootstrap' : '')
    button.btn class=type[:css] type='button'
      | Example button
    span.ms-2.font-monospace
      = to_css(type[:css])
