ruby:
  list = {
    'Components' => [
      ['Alerts',  '/docs/components/alerts'],
      ['Avatars', '/docs/components/avatars'],
      ['Badges',  '/docs/components/badges'],
      ['Buttons', '/docs/components/buttons'],
    ],
    'Utilities' => [
      ['Breakpoints', '/docs/utilities/breakpoints'],
      ['Spacing',     '/docs/utilities/spacing'],
      ['Text',        '/docs/utilities/text'],
    ],
    'Libraries' => [
      ['Anchorjs',  '/docs/libraries/anchorjs'],
      ['Toasts',    '/docs/libraries/anchorjs'],
      ['Clipboard', '/docs/libraries/clipboard'],
      ['Select2',   '/docs/libraries/select2'],
    ],
    'Content' => [
      ['Flags icons',    '/docs/content/icons_flags'],
      ['Fontawesome',    '/docs/content/fonts_fontawesome'],
      ['Payments icons', '/docs/content/icons_payments'],
    ],
  }

nav#bd-docs-nav.collapse.bd-links aria-label="Docs navigation"

  ul.list-unstyled.mb-0.py-3.pt-md-1

    - list.each do |name, sublist|
      - id = element_id([name, 'collapse'])
      button.btn.d-inline-flex.align-items-center.rounded aria-expanded="true" data-bs-target="##{ id }" data-bs-toggle="collapse"
        = name
      .collapse.show id=id
        ul.list-unstyled.fw-normal.pb-1.small
          - sublist.each do |sub_name, sub_url|
            li
              = active_link_to sub_name, sub_url, class: 'd-inline-flex align-items-center rounded'
