<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'partials/head' %>

  <body>
    <%= render partial: 'partials/docs-navbar' %>

    <div class="container-xxl my-md-4 bd-layout">
      <aside class="bd-sidebar">
        <%= render partial: 'docs/partials/docs-sidebar' %>
      </aside>

      <main class="bd-main order-1">
        <%= yield %>
      </main>

  </body>

</html>
