= render partial: 'partials/doc-header', locals: { name: 'Spacing', link: { name: 'View Bootstrap doc', url: 'https://getbootstrap.com/docs/5.1/utilities/spacing' } }

.bd-content.ps-lg-4

  h2#content-spacing
    | Content spacing

  <p>On top of the <code>p-</code> and <code>m-</code> bootstrap helpers, Kit provides extra vertical spacing helpers to delimitate content blocks.</p>

  h3#content-spacing-notation
    | Notation

  <p>The classes are named using the format <code>sp{sides}-{size}</code> for <code>xs</code> and <code>sp{sides}-{breakpoint}-{size}</code> for <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>, and <code>xxl</code>.</p>

  <p>Where <em>sides</em> is one of:</p>
  <ul>
    <li><code>t</code> - for classes that set <code>padding-top</code></li>
    <li><code>b</code> - for classes that set <code>padding-bottom</code></li>
  </ul>

  <p>Where <em>size</em> is one of:</p>
  <ul>
    <li><code>0</code> - for classes that eliminate the <code>padding</code> by setting it to <code>0</code></li>
    <li><code>1</code> - for classes that set the <code>padding</code> to <code>$spacer * 2</code></li>
    <li><code>2</code> - for classes that set the <code>padding</code> to <code>$spacer * 4</code></li>
    <li><code>3</code> - for classes that set the <code>padding</code> to <code>$spacer * 6</code></li>
    <li><code>4</code> - for classes that set the <code>padding</code> to <code>$spacer * 8</code></li>
    <li><code>5</code> - for classes that set the <code>padding</code> to <code>$spacer * 10</code></li>
    <li><code>6</code> - for classes that set the <code>padding</code> to <code>$spacer * 12</code></li>
    <li><code>7</code> - for classes that set the <code>padding</code> to <code>$spacer * 14</code></li>
  </ul>

  = render partial: 'partials/h3-example', locals: { name: 'Examples', file: 'docs/utilities/spacing/example_content_spacing' }
