= render partial: 'partials/doc-header', locals: { name: 'Text', description: 'Extra text helpers.', link: { name: 'View Bootstrap doc', url: 'https://getbootstrap.com/docs/5.0/utilities/text' } }

.bd-content.ps-lg-4

  = render partial: 'partials/h3-example', locals: { name: 'Examples', file: 'docs/utilities/text/example_text_cap' }
